.move-menu {
    width: 100px;height: 150px;top: 8%;
    white-space: nowrap;
    position: fixed;
    z-index: 999;
    color: rgba(255, 255, 255, 0.6);    /* 字体颜色 */
    background: rgba(0, 0, 0, 0.8);
    border-radius: 20px;    /* 圆角 */
    overflow: hidden;
    transition: 0.5s;
}
/* 控制菜单出现 (230px*50xp) */
.move-menu:hover {width: 280px;height: 770px;}


/* ———————————— 圆点 ———————————— */
.move-menu .point {user-select: none;display: flex;justify-content: space-around;margin-top: 20px;margin-bottom: 20px;}
.point-item {width: 10px;height: 10px;border-radius: 50%;}
.point-item:nth-child(1) {margin-left: 5px; background: #eb5a56;}
.point-item:nth-child(2) {background: #f8bc33;}
.point-item:nth-child(3) {margin-right: 5px; background: #62cb44;}


/* ———————————— 头像和简介 ———————————— */
.move-menu .icon {width: 280px;height: 60px;}
.move-menu .icon .icon-img {width: 60px;height: 60px;}
.move-menu .icon .icon-img img {
    width: 100%;height: 100%;
    border-radius: 50%; /* 圆形 */
    border: 4px solid rgba(255, 255, 255, 0.3); /* 边框 */
    object-fit: cover;  /* 确保元素尽可能填充整个容器，而不会出现变形或留白 */
}
.move-menu .icon .icon-con {height: 60px;width: 150px;margin-left: 30px;}
.move-menu .icon .icon-con introduction {width: 100px; padding-top: 5px;overflow: hidden;text-overflow: ellipsis;}
.move-menu .icon .icon-con username {font-size: 150%; font-weight: 400;}


/*分割线*/
.move-menu .cutoff-line {width: 60px;height: 1px;background: rgba(245, 253, 255, 0.5);margin: 20px 20px;transition: 0.5s;}
.move-menu:hover .cutoff-line {width: 230px;}

/*菜单标题*/
.move-menu .title {width: 60px;margin-left: 25px;margin-bottom: 20px;}
.title p {font-size: 14px;}

/*info*/
.move-menu .info {
    height: 60px;
    width: 80%;
    margin-left: 10%;
    display: flex;
}
.move-menu .info .box1{
    flex: 1;
    text-align: center;
    /* background-color: #62cb44; */
    /* font-size: 14px; */
}
.move-menu .info .box2{
    flex: 1;
    text-align: center;
    /* background-color: #de55c3; */
    /* font-size: 14px; */
}
.move-menu .info .box3{
    flex: 1;
    text-align: center;
    /* background-color: #4abfe3; */
    /* font-size: 14px; */
}
.move-menu .info p{
    font-size: 24px;
    align-items: center;
}
/*菜单主体*/
.move-menu .main {width: 230px;margin-left: 25px;}

.move-menu .item {
    user-select: none;
    display: flex;
    position: relative;
    transition: 0.5s;
    border-radius: 6px;
}

.move-menu .item:hover {background: rgba(255, 255, 255, 0.1);}

.move-menu .licon {
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-menu .con {
    white-space: nowrap;
    width: 0px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    overflow: hidden;
    position: relative;
    left: -20px;
    opacity: 0;
}

.move-menu:hover .con {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
}

.iconfont {
    font-size: 26px;
}

.ricon .iconfont {
    font-size: 20px;
    color: #62cb44;
}

/* 按钮前的提示条 */
.move-menu .main .item .light {width: 6px;height: 50px;background: #eb5a56;position: absolute;left: -25px;transition: 0.5s;border-top-right-radius: 4px;border-bottom-right-radius: 4px;opacity: 0;}
.move-menu .main .item:hover .light {opacity: 1;}
